Library/
Assembly-CSharp-Editor.pidb
Assembly-CSharp-firstpass.pidb
Assembly-CSharp.pidb
Assembly-UnityScript-firstpass.pidb
Assembly-UnityScript.pidb
Library/ScriptAssemblies/
Library/ScriptMapper/
Library/cache/