Library/
Assembly-CSharp-Editor.pidb
Assembly-CSharp-firstpass.pidb
Assembly-CSharp.pidb
Assembly-UnityScript-firstpass.pidb
Assembly-UnityScript.pidb
Library/ScriptAssemblies/
Library/ScriptMapper/
Library/ScriptMapper
Library/cache/
Assembly-CSharp.pidb
Library/ScriptMapper
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
